@import "../../../less/_vars.less";
@homepageheadlinemodifier: 1.2;
@hhm: @homepageheadlinemodifier;

.homepage-top-rail {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 24px 0;
  margin-bottom: 48px;
}
.homepage-top-rail-left {
  .entry-content.with-hero {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .hero.is-image,
  .hero.is-video {
    margin-bottom: 12px;
  }
  article {
    margin-bottom: 0;
  }
  h2.entry-title {
    line-height: 1.165;
    margin-bottom: 12px;
  }
}
.homepage-top-rail-right .widget {
  padding-top: 0;
}
@media (min-width: 500px) {
  .homepage-top-rail-left {
    max-width: 45%;
    float: left;
    padding-right: 4.75%;
    border-right: 1px solid #ddd;
  }
  .homepage-top-rail-right {
    max-width: 45%;
    padding-left: 4.75%;
    border-left: 1px solid #ddd;
    float: left;
    position: relative;
    left: -1px;
  }

  // desktop font size increase, by request
  .stories h2.entry-title,
  .homepage-top-post h2 {
    font-size: @hhm * 2em;
  }
  .homepage-top-rail-right .widget {
    h5 {
      font-size: 20px * @hhm;
    }
  }
  .homepage-top-rail-left .widget {
    h2 {
      font-size: 28px * @hhm;
    }
  }
}
@media (max-width: 500px) {
  .homepage-top-rail {
    margin-bottom: 24px;
  }
  .homepage-top-post article {
    margin-bottom: 12px;
  }
  .homepage-top-rail-left {
    padding-bottom: 0;
    margin-bottom: 1.5em;
    border-bottom: 1px solid #ddd;
    h2.entry-title {
      font-size: 28px * @hhm; 
    }
  }
  .homepage-top-rail-right .widget {
    margin-bottom: 0;
  }

  // Classes added through /inc/DDCPC.php
  .home-thumbnail-hide {
    > header,
    .has-thumbnail {
      display: none;
    }
  }
  .home-thumbnail-left {
    > header,
    div.has-thumbnail {
      float: left;
      max-width: 30%;
      margin: 0 20px 10px 0;
    }
  }
  .home-thumbnail-right {
    > header,
    div.has-thumbnail {
      float: right;
      max-width: 30%;
      margin: 0 0 10px 20px;
    }
  }
}

.homepage-top-post,
.homepage-top-rail-left,
.homepage-river {
  .entry-content h5.byline {
    font-size: 0.8125em * @hhm;
  }
  .entry-content p {
    font-size: 16px * @hhm;
  }
}
